/* @media query (max-width:480px){ */
ul, ol, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nav li a {
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.nav li a:hover {
  background-color: #434343;

}
.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

#header {
  margin:auto;
  width: 500px;
  font-family: sans-serif;
}

.headerimg {
  width: 150px;
  height: 150px;
}


/* } */
