/*Agregue esto para que todo las páginas tenan la misma disposición inicial*/
*{padding: 0;
margin: 0;
}

@media screen and (max-width: 768px){
  input{
    width: 100%;
  }
}

body{
  background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/38/stairway-828883_960_720.jpg);
  background-size: 100%;
  background-attachment: fixed;
  margin: 0;
  font-family: Poppins;
  width: 100%;
}

form{
  width: 80vw;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  justify-content: center;

}

h3{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-bottom: 10px;
}

.frase{
  font-size: 17px;
  font-weight: bolder;
  text-align: justify;
  margin: auto;
  box-sizing: border-box;
  padding: 5%;
  color: #fff;
}

input{

  min-width: 37vw;
  margin-left: 2px;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea{
  width: 75vw;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.contacto{
  background-color: rgba(0, 0, 0, 0.8);
  width: 80vw;
  border none;
  box-sizing: border-box;
  margin-top: 10px;
  margin: auto;
  justify-content: center;
}

#boton {
  background: black;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  width: 100%;
}

#boton:active{
  background-color:gray; color:black;
}
