body{
  background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/38/stairway-828883_960_720.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

@media query (max-width:480px){
  .contenedor .contenedor2{
    flex-wrap: wrap;
  }
}

img{
  margin: 15px;
  width: 100%
  max-width: 280px;
}

h2{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.main{
  text-align: center;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  color: #fff;
  border: none;
  min-height: 50px;
  max-height: 80px;
  font-family: sans-serif;
}

.gráfico_de_torta{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
}

/* Esto está bien */
 #mayor_progreso .contenedor{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

 #proyectos_en_curso .contenedor2 {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}

#text1 {
  box-sizing: content-box;
}
