<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Inicio - Online CV</title>
  </head>
  <body>
    <div class="header" id="myHeader">
      <ul>
        <a href="#" class="btn btn-primary">Aptitudes</a>
        <a href="#" class="btn btn-primary">Portfolio</a>
        <a href="#" class="btn btn-primary">Proyectos en Curso</a>
      </ul>
      <img src="" alt="Foto carnet/personal">
      <p>Nombre</p>
      <p>Información de Contacto</p>
    </div>
    <main>
      <div class="bio">
        <img src="" alt="">
        <p></p>
        <img src="" alt="">
      </div>
      <div class="links">
        <ul>
          <a href="#" class="btn btn-primary">Experiencia Laboral</a>
          <a href="#" class="btn btn-primary">Estudios en Curso</a>
          <a href="#" class="btn btn-primary">Trayectoria Académica</a>
          <a href="#" class="btn btn-primary">Portfolio</a>
          <a href="#" class="btn btn-primary">Aptitudes/Cualidades</a>
          <a href="#" class="btn btn-primary">Otros</a>
        </ul>
      </div>
      <div class="proyects">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </main>
    <footer>
      <img src="" alt="Instagram">
      <img src="" alt="GitHUb">
      <img src="" alt="Correo Electrónico">
    </footer>
  </body>
</html>
