<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Página 2 </title>
  <link rel="stylesheet" href="Pag2.css">
  <!-- Este es el diseño resposive, lo mejor es hacer mobile first -->
  <meta name="viewport" content="width=device-width, initial-scale-1.0">
</head>
    <body>

      <header>
        <div class="header" id="myHeader">
        <nav>
    <ul>
        <a href="#" class="btn btn-primary">Aptitudes</a>
        <a href="#" class="btn btn-primary">Portfolio</a>
        <a href="#" class="btn btn-primary">Proyectos en Curso</a>
    </ul>
        <img src="" alt="Foto carnet/personal">
    <p>Nombre</p>
    <p>Información de Contacto</p>
        </nav>
        </div>

          </header>
            <main>
              <div class="mayor_progreso">
                <p> Texto descriptivo </p>
                <img src="" alt="gráfico_de_torta">
                <img src="" alt="gráfico_de_torta">
                <p> Texto descriptivo </p>
              </div>

<!-- Hasta acá la parte de arriba -->

              <div class="proyectos_en_curso">

                <img src="" alt="1er_graf">
                <p> Texto de 1er graf </p>
                <img src="" alt="2do_graf">
                <p> Texto de 2do graf </p>
                <img src="" alt="3er_graf">
                <p> Texto de 3er graf </p>
              </div>

            </main>
            <footer>
               <img src="" alt="Instagram">
               <img src="" alt="GitHUb">
               <img src="" alt="Correo Electrónico">
           </footer>
      </body>
</html>
