<!DOCTYPE html>
<html lang="es">





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Pag3.css">
    <link rel="stylesheet" href="../CSS/header-footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Experiencias</title>
</head>
<body>
    <main>
      <header>
        <nav class="navbar navbar-default">
        <div class="myHeader">
            <div class="dropdown text-center">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Inicio
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Aptitudes</a>
                    <a class="dropdown-item" href="#">Portfolio</a>
                    <a class="dropdown-item" href="#">Proyectos en Curso</a>
                </div>
            </div>
          <div class="element element1"> <img class="headerimg" src="../Images/foto.jpg" alt="Foto carnet/personal"> </div>
          <div class="element element2"> <p>Nombre y Apellido</p> </div>
          <div class="element element3"> <p>Información de Contacto</p> </div>
        </div>
        </nav>
      </header>
        <div class="row">

            <nav class="MenuPag3 col-sm-2">
                <ul>
                    <li><a href="/Proyecto-F.E---PD---Grupo-1-main/Layouts/index.html">Experiencia
                            laboral</a></li>
                    <li><a href="/Proyecto-F.E---PD---Grupo-1-main/Layouts/potreroDigital_proyecto_grupo1_pag2.html">Estudios
                            en curso</a></li>
                    <li><a href="https://behance.com">Portfolio</a></li>
                    <li><a
                            href="/Proyecto-F.E---PD---Grupo-1-main/Layouts/potreroDigital_proyecto_grupo1_contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
            <div class="col-sm-10">
                <h2>VALORES & APTITUDES</h2>
                <div><a href="" id="mostrar1">
                        <h3>Valores importantes</h3>
                    </a> </div>
                <div class="contenido-oculto1" id="oculto1">
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                        Illum fuga
                        quibusdam necessitatibus
                        porro
                        inventore dolorem dolores voluptate quidem cupiditate eveniet. Ex laborum autem minima! Sequi
                        illo
                        voluptatem commodi cum dignissimos eveniet atque. Ab quibusdam dolorem officia recusandae
                        reiciendis
                        labore sint, corporis sed dolor nisi delectus, ipsam, a deleniti voluptatem vel!</p>
                </div>
                <div><a href="#" id="mostrar2">
                        <h3>Proyectos</h3>
                    </a></div>
                <div class="contenido-oculto2" id="oculto2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga quibusdam necessitatibus
                        porro
                        inventore dolorem dolores voluptate quidem cupiditate eveniet. Ex laborum autem minima! Sequi
                        illo
                        voluptatem commodi cum dignissimos eveniet atque. Ab quibusdam dolorem officia recusandae
                        reiciendis
                        labore sint, corporis sed dolor nisi delectus, ipsam, a deleniti voluptatem vel!</p>
                </div>
                <div><a href="#" id="mostrar3">
                        <h3>Aptitudes positivas</h3>
                    </a></div>
                <div class="contenido-oculto3" id="oculto3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga quibusdam necessitatibus
                        porro
                        inventore dolorem dolores voluptate quidem cupiditate eveniet. Ex laborum autem minima! Sequi
                        illo
                        voluptatem commodi cum dignissimos eveniet atque. Ab quibusdam dolorem officia recusandae
                        reiciendis
                        labore sint, corporis sed dolor nisi delectus, ipsam, a deleniti voluptatem vel!</p>
                </div>
                <div><a href="#" id="mostrar4">
                        <h3>Busqueda laboral</h3>
                    </a></div>
                <div class="contenido-oculto4" id="oculto4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga quibusdam necessitatibus
                        porro
                        inventore dolorem dolores voluptate quidem cupiditate eveniet. Ex laborum autem minima! Sequi
                        illo
                        voluptatem commodi cum dignissimos eveniet atque. Ab quibusdam dolorem officia recusandae
                        reiciendis
                        labore sint, corporis sed dolor nisi delectus, ipsam, a deleniti voluptatem vel!</p>
                </div>
                <div><a href="#" id="mostrar5">
                        <h3>Intereses</h3>
                    </a></div>
                <div class="contenido-oculto5" id="oculto5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga quibusdam necessitatibus
                        porro
                        inventore dolorem dolores voluptate quidem cupiditate eveniet. Ex laborum autem minima! Sequi
                        illo
                        voluptatem commodi cum dignissimos eveniet atque. Ab quibusdam dolorem officia recusandae
                        reiciendis
                        labore sint, corporis sed dolor nisi delectus, ipsam, a deleniti voluptatem vel!</p>
                </div>
                <div><a href="#" id="mostrar6">
                        <h3>Metas</h3>
                    </a></div>
                <div class="contenido-oculto6" id="oculto6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga quibusdam necessitatibus
                        porro
                        inventore dolorem dolores voluptate quidem cupiditate eveniet. Ex laborum autem minima!
                        Sequi
                        illo
                        voluptatem commodi cum dignissimos eveniet atque. Ab quibusdam dolorem officia recusandae
                        reiciendis
                        labore sint, corporis sed dolor nisi delectus, ipsam, a deleniti voluptatem vel!</p>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="texto-final col-sm">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic at nostrum nam sequi nobis dolorem
                    laborum
                    amet vero deleniti, esse molestiae placeat quibusdam quod eligendi, fugit ad quo adipisci ab! Magnam
                    quasi illo nostrum laboriosam nulla. Quas ex possimus perferendis laboriosam obcaecati alias ratione
                    eveniet eaque id totam. Beatae ipsum, cupiditate atque accusantium eligendi doloremque. Aperiam
                    quidem
                    quas blanditiis perspiciatis veniam, nulla officia consequatur, recusandae expedita saepe alias, sed
                    voluptatem facere quam! Numquam pariatur libero consectetur iste earum similique, soluta impedit rem
                    amet delectus corporis temporibus beatae veniam! Sequi doloremque vero voluptatum, ea voluptates
                    eaque
                    tempora fuga recusandae itaque alias?</p>
            </div>
        </div>
        <footer class="justify-content-center" style="margin-top:140px;">
          <a href="#" class="fa fa-github"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </footer>
    </main>

</body>
<script src="/Proyecto-F.E---PD---Grupo-1-main/js/Btn.ocultar1.js"></script>

<script src="/Proyecto-F.E---PD---Grupo-1-main/js/Btn.oculta2.js"></script>
<script src="/Proyecto-F.E---PD---Grupo-1-main/js/Btn.oculta3.js"></script>

<script src="/Proyecto-F.E---PD---Grupo-1-main/js/Btn.oculta4.js"></script>
<script src="/Proyecto-F.E---PD---Grupo-1-main/js/Btn.oculta5.js"></script>

<script src="/Proyecto-F.E---PD---Grupo-1-main/js/Btn.oculta6.js"></script>


</html>
