<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Contacto </title>
  <link rel="stylesheet" href="Contacto.css">
  <!-- Este es el diseño resposive, lo mejor es hacer mobile first -->
  <meta name="viewport" content="width=device-width, initial-scale-1.0">
</head>

      <header>
        <nav>

          <div class="header" id="myHeader">
             <ul>
               <a href="#" class="btn btn-primary">Aptitudes</a>
               <a href="#" class="btn btn-primary">Portfolio</a>
               <a href="#" class="btn btn-primary">Proyectos en Curso</a>
           </ul>
               <img src="" alt="Foto carnet/personal">
               <p>Nombre</p>
              <p>Información de Contacto</p>

         </div>
       </nav>
      </header>
    <body>
          <main>

            <div class="contacto">
            <img src="" alt="imágen">
            <p> Texto que acompaña la imagen</p>
            </div>
<!-- Hasta acá la parte de arriba -->
        <form class="" action="" method="">
            <h3> Contacto </h3>
            <input type="text" name="Nombre" placeholder="Nombre">
            <input type="number" name="Tel" placeholder="Teléfono">
            <input type="text" name="e-mail" placeholder="e-mail">
            <input type="text" name="Asunto" placeholder="Asunto">
            <input type="text" name="Empresa" placeholder="Empresa">
            <textarea name="Mensaje" placeholder="Escriba aquí su mensaje"></textarea>
            <input type="button" name="Valor" value="Enviar" id="botón">
        </form>
              </main>
        <footer>
         <img src="" alt="Instagram">
         <img src="" alt="GitHUb">
         <img src="" alt="Correo Electrónico">
       </footer>
    </body>
</html>
