<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Página 2 </title>
  <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo1_pag2.css">
  <!-- Este es el diseño resposive, lo mejor es hacer mobile first -->
  <meta name="viewport" content="width=device-width, initial-scale-1.0">
</head>
    <body>

      <header>
        <div class="header" id="encabezado">
        <nav>
    <ul>
        <a href="#" class="btn btn-primary">Aptitudes</a>
        <a href="#" class="btn btn-primary">Portfolio</a>
        <a href="#" class="btn btn-primary">Proyectos en Curso</a>
    </ul>
        <img src="" alt="Foto carnet/personal">
    <p>Nombre</p>
    <p>Información de Contacto</p>
        </nav>
        </div>
      </header>

            <main>
              <h2> Formación en progreso </h2>
              <section id="mayor_progreso">
                <div class="contenedor">
                    <img class="gráfico_de_torta" src="" alt="gráfico_de_torta">
                    <p class="main"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <img class="gráfico_de_torta" src="" alt="gráfico_de_torta">
                    <p class="main"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
              </section>


<!-- Hasta acá la parte de arriba -->
              <section id="proyectos_en_curso">
                <div class="contenedor2">
                  <img  class="gráfico_de_torta" src="" id="1er_graf">
                  <p class="main" id="text1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                  <img class="gráfico_de_torta"src="" id="2do_graf">
                  <p class="main" id="text2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                  <img class="gráfico_de_torta" src="" id="3er_graf">
                  <p class="main" id="text3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
              </section>
            </main>
            <footer>
               <img src="" alt="Instagram">
               <img src="" alt="GitHUb">
               <img src="" alt="Correo Electrónico">
           </footer>
      </body>
</html>
